.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card-container {
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

}

.ant-card-head-title {
  text-align: center;
}
